<% provide(:title, 'articles') %>
<h1 class="text-center">記事一覧</h1>

<div class="col-md-12 col-md-offset-1 text-center">
  <table class="table table-condensed table-hover">
  <%= link_to "記事新規作成", new_users_article_path, class: "btn btn-lg btn-primary " %>
    <thead>
      <tr>
        <th>詳細表示</th>
        <th>タイトル</th>
        <th>内容</th>
        <th>画像</th>
        <th>編集・削除</th>
      </tr>
    </thead>

    <% @articles.each do |article| %>
      <tr>
        <td><%= link_to "詳細", users_article_path(article), class: "btn btn-primary" %></td>
        <td><%= article.title %></td>
        <td><%= article.content %></td>
        <td>
          <% if article.img? %>
          <%= image_tag article.img.url, :size => '200x200' %>
          <% end %>
        </td>
        <td>
            <%= link_to "編集", edit_users_article_path(article), class: "btn btn-success" %>
            <%= link_to "削除",  users_article_path(article), method: :delete, data: { confirm: "削除してよろしいですか？" }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </table>
</div>